@using Presentation.Client.Pages
@inherits LayoutComponentBase

<div class="page">
    @* <div class="sidebar"> *@
    @*     <NavMenu /> *@
    @* </div> *@

    <main>
        <div class="top-row d-flex justify-content-between">
            <div class="container-fluid">
                <a class="navbar-brand text-decoration-none text-black" href="">Kino MVP</a>
            </div>

            <AccessControl/>
        </div>

        <article class="container px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
