@inherits LayoutComponentBase
@using Presentation.Client.Pages
<div class="page  ">
    @* <div class="sidebar"> *@
    @*     <NavMenu /> *@
    @* </div> *@

    <main >
        <div class="top-row d-flex justify-content-between mb-2" style="background-color: white" >
                <a class="navbar-brand text-decoration-none text-black" href="">Kino MVP</a>

            <AccessControl/>
        </div>

        <article class="container mx-auto p-4 mb-2 rounded shadow-md bg-white max-w-6xl">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
