@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

@*
Taken from guide: https://auth0.com/blog/securing-blazor-webassembly-apps/
*@

<AuthorizeView>
    <Authorized>
        <div class="flex items-center">
            <p class="mr-2 hidden md:block">
                Hej, @context.User.Identity!.Name!
            </p>
            <a href="#" @onclick="BeginSignOut">
                <button class="btn-white">
                    Log ud
                </button>
            </a>
        </div>
    </Authorized>
    <NotAuthorized>
        @if (!GlobalSettings.HostOnNgrokWithNoHttpsAndSetDefaultUser)
        {
            <a href="authentication/login">
                <button class="btn-black">
                    Log ind
                </button>
            </a>
        }
    </NotAuthorized>
</AuthorizeView>

@code{

    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }

}