@inject IJSRuntime JsRuntime 
@inject NavigationManager NavigationManager

<div class="space-y-3">
    @foreach (var showtime in OrderedShowtimes)
    {
        <ResultCard IsHost="IsHost" Event="Event" Showtime="showtime" HasVoted="@(CurrentParticipant != null)" Vote="@(CurrentParticipant?.VotedFor.FirstOrDefault(pv => pv.ShowtimeId == showtime.Id))"/>
    }
</div>

@code {

    [Parameter] public required JoinEvent Event { get; set; }

    [Parameter] public bool IsHost { get; set; }

    [Parameter] public Participant CurrentParticipant { get; set; }

    [Parameter] public List<Showtime> OrderedShowtimes { get; set; }

}