<!-- primary -->
<div class="bg-primary"></div>
<div class="bg-primary-dark"></div>
<div class="bg-primary-darkest"></div>

<!-- success -->
<div class="bg-success hover:bg-success focus:bg-success"></div>
<div class="bg-success-dark hover:bg-success-dark"></div>
<div class="bg-success-darkest"></div>
<div class="stroke-success"></div>

<!-- warning -->
<div class="bg-warning"></div>
<div class="bg-warning-dark"></div>
<div class="bg-warning-darkest"></div>
<div class="stroke-warning"></div>

<!-- error -->
<div class="bg-error"></div>
<div class="bg-error-dark"></div>
<div class="bg-error-darkest"></div>
