@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <div class="flex items-center">
            <p class="mr-2 hidden md:block">
                Hej, @context.User.Identity.Name!
            </p>
            <a href="#" @onclick="BeginSignOut">
                <CustomButton Variant="CustomButton.ButtonVariant.White">
                    Log ud
                </CustomButton>
            </a>
        </div>
    </Authorized>
    <NotAuthorized>
        @if (Navigation.BaseUri.Contains("https"))
        {
            <a href="authentication/login">
                <CustomButton Variant="CustomButton.ButtonVariant.Black">
                    Log ind
                </CustomButton>
            </a>
        }
    </NotAuthorized>
</AuthorizeView>

@code{

    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }

}