@page "/"
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>
<div class="container mx-auto pl-0 px-0">
    <h1 class="text-4xl font-bold text-gray-900 mt-6">Developer Quick Page</h1>

    <h2 class="text-2xl font-semibold text-gray-700 mt-4">Creation Quick Links</h2>
    <div class="mt-2">
        <a class="text-blue-500 hover:text-blue-700" href="@baseUriWithoutTrailingSlash/joinCreate/sort=most_viewed&movies=76769&movies=76633&cinemas=53&cinemas=52&date=2024-03-15T00:00:00.0000000+01:00&date=2024-04-14T00:00:00.0000000+02:00">Movie og cinema filtrer (Hurtigst)</a>
    </div>
    <div class="mt-2">
        <a class="text-blue-500 hover:text-blue-700" href="@baseUriWithoutTrailingSlash/joinCreate/cinemas=53&sort=most_purchased">Cinema filter (Hurtig)</a>
    </div>
    <div class="mt-2">
        <a class="text-blue-500 hover:text-blue-700" href="@baseUriWithoutTrailingSlash/joinCreate/cinemas=53&cinemas=4&cinemas=49&genres=96&movies=76769&movies=35883&movies=76769&sort=most_purchased">Cinema, Movie og genrer filtrer (Medium)</a>
    </div>
    <div class="mt-2">
        <a class="text-blue-500 hover:text-blue-700" href="@baseUriWithoutTrailingSlash/joinCreate/cinemas=53&cinemas=52&cinemas=49&movies=76769&movies=35883&sort=most_purchased&date=2024-01-16T10:07:00.000Z&date=2024-12-27T10:07:00.000Z">Movie, cinema og Tid (Medium)</a>
    </div>
    <div class="mt-2">
        <a class="text-blue-500 hover:text-blue-700" href="@baseUriWithoutTrailingSlash/joinCreate/movies=76769&movies=35883&sort=most_purchased">Movie filter (Langsom)</a>
    </div>
    <h2 class="text-2xl font-semibold text-gray-700 mt-6">Filling Quick Links</h2>
    <div class="mt-2">
        <a class="text-blue-500 hover:text-blue-700" href="@baseUriWithoutTrailingSlash/filling/1">Første Join Event</a>
    </div>
    <div class="mt-2">
        <a class="text-blue-500 hover:text-blue-700" href="@baseUriWithoutTrailingSlash/filling/2">Andet Join Event</a>
    </div>

    <h2 class="text-2xl font-semibold text-gray-700 mt-6">Monkey Demo Link</h2>
    <button class="mt-3 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" @onclick="GoToMonkey">Go to Monkey</button>
</div>

@code
{
    string baseUriWithoutTrailingSlash = "";

    protected override async Task OnInitializedAsync()
    {
        var client = new HttpClient();

        baseUriWithoutTrailingSlash = NavigationManager.BaseUri.TrimEnd('/');
    }

    private void GoToMonkey()
    {
        NavigationManager.NavigateTo("/monkey");
    }

}