@page "/"
@using Application.DTO
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<h2>Test links</h2>
<a href="@baseUriWithoutTrailingSlash/joinCreate/cinemas=53&cinemas=4&sort=most_purchased"> Med cinema filtre</a>
<br/>
<a href="@baseUriWithoutTrailingSlash/joinCreate/movies=76769&movies=35883&sort=most_purchased"> Med movie filtre</a>
<br/>
<a href="@baseUriWithoutTrailingSlash/joinCreate/cinemas=53&cinemas=52&movies=76769&movies=35883&sort=most_purchased"> Med movie og cinema filtre</a>
<br/>
<a href="@baseUriWithoutTrailingSlash/joinCreate/cinemas=53&cinemas=4&cinemas=49&genres=96&movies=76769&movies=35883&movies=76769&sort=most_purchased"> Med alle filtre uden tid</a>
<br/>
<a href="@baseUriWithoutTrailingSlash/joinCreate/cinemas=53&cinemas=4&cinemas=49&genres=96&movies=76769&movies=35883&movies=76769&sort=most_purchased&date=2024-01-16T10:07:00.000Z&date=2024-02-27T10:07:00.000Z"> Med alle filtre med tid</a>
<br/>


<button class="mt-4 bg-gradient-to-br from-green-600 to-green-500 hover:from-green-500 hover:to-green-600 text-white p-2 rounded border border-green-600" onclick="@CreateMonkey">Create Monkey</button>

<div class="max-w-sm rounded overflow-hidden shadow-lg">
  <div class="px-6 py-4">
    <div class="font-bold text-danger text-xl mb-2">The Coldest Sunset</div>
    <p class="text-gray-700 text-base">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
    </p>
  </div>
  <div class="px-6 pt-4 pb-2">
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
  </div>
</div>

<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    Some blue tailwind button
</button>


@code
{
    string baseUriWithoutTrailingSlash = "";
    
    private async Task CreateMonkey()
    {
        var httpClient = new HttpClient();
        var content = new CreateMonkeyDto("Jens", 30);
        await httpClient.PostAsJsonAsync(NavigationManager.BaseUri + "monkeys", content);
    }

    protected override async Task OnInitializedAsync()
    {
        var client = new HttpClient();

        baseUriWithoutTrailingSlash = NavigationManager.BaseUri.TrimEnd('/');
    }
    

}
